.blog{
    border: 1px solid var(--grey);
    border-radius: 19px;
}
.image{
    display: block;
    width: 100%;
}
.content{
    padding: 17px 25px 25px 22px;
}
.heading{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    color: black;
    padding-bottom: 12px;
}
.text{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: black;
    padding-bottom: 12px;
}
.link{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: var(--blue);
    text-decoration: none;
}
.link:hover{
    border-bottom: 1px solid var(--blue);
}
.link > span{
    padding-right: 9px;
}
.svg{
    transform: rotate(-90deg);
}
.svg > path{
    fill: var(--blue);
}