.container{
    display: block;
}
.courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
}
.course{
    height: 36px;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: var(--grey_46);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.course:hover{
    text-decoration: underline;
    color: black;
}
.goBack{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25.6px;
    font-weight: 500;
    color: var(--blue);
    border: 1px solid transparent;
}
.goBack > span{
    margin-left: 18px;
}
.goBack > svg{
    transform: rotate(90deg) scale(1.5);
}
.goBack > svg > path{
    fill: var(--blue);
}
.goBack:hover{
    cursor: pointer;
    border-bottom: 1px solid var(--blue);
}
.handler{
    background: transparent;
    border: none;
}
.handler:hover{
    cursor: pointer;
}
.popup{
    position: absolute;
    left: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid var(--grey);
    z-index: 1;
}
.content{
    margin: 36px 40px;
    border-top: 1px solid var(--grey);
}
.links{
    height: 85px;
    display: inline-flex;
    width: 440px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.links > a{
    font-size: 18px;
    line-height: 25.5px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}
.links > a:hover{
    text-decoration: underline;
}
.menuItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.6px;
    color: var(--grey_46);
}
.svg{
    transform: rotate(-90deg);
}
.svg > path{
    fill: var(--grey_46);
}
.menuItem:hover{
    cursor: pointer;
    color: black;
}
.menuItem:hover > .svg > path{
    fill: black;
}

@media screen and (max-width: 843px) {
    .popup{
        height: 100%;
    }
    .links{
        flex-direction: column;
        align-items: flex-start;
        padding-top: 22px;
        height: unset;
    }
    .links > a{
        padding-bottom: 18px;
    }
    .courses{
        grid-template-columns: 1fr;
    }
    .goBack{
        margin: 5px 0 20px 0;
    }
}
