:root{
  --blue: #0075FF;
  --blue_hover: #0077ffc2;
  --lightGreen: rgba(67, 197, 158, 0.19);
  --green: #43C59E;
  --green_11: #43C59E1C;
  --grey: #DCDCDC;
  --grey_secondary: #F7F7F7;
  --grey_35: rgba(0, 0, 0, 0.35);
  --grey_46: rgba(0, 0, 0, 0.46);
  --white: rgba(0, 0, 0, 0.03);
  --red: #F40000;
  font-family: 'Montserrat', sans-serif;
}
*, *::after, *::before{
  margin: 0;
  box-sizing: border-box;
}
::placeholder{
  font-family: inherit;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 400;
}
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}