.skillboxContainer{
    height: 473px;
    border-radius: 31px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--grey);
}
.circle{
    position: absolute;
    background-color: var(--blue);
    border-radius: 50%;
    width: 859px;
    height: 859px;
    z-index: 0;
    bottom: -155px;
    right: 50%;
}
.content{
    z-index: 1;
    padding: 44px 54px 54px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text{
    font-size: 19px;
    font-weight: 500;
    line-height: 27px;
    padding-top: 27px; 
    color: white;
    width: 325px;
}

.bottom{
    font-size: 25px;
    font-weight: 600;
    line-height: 44.5px;
    text-transform: uppercase;
    color: white;
}
.outlet{
    display: inline-block;
    background-color: var(--red);
    padding: 12px 24px 12px 22px;
    border-radius: 62px;
    margin-top: 10px;
}
.link{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 27px 43px;
    background-color: var(--blue);
    color: white;
    text-decoration: none;
    border-radius: 31px 0;
    font-size: 19px;
    line-height: 27px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.link > svg{
    transform: rotate(-90deg) scale(1.5);
    margin-left: 17px;
}
.link > svg > path{
    fill: white;
}
.image{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

@media screen and (max-width: 1280px) {
    .skillboxContainer{
        height: 415px;
    }
    .circle{
        bottom: -80px;
        left: -350px;
    }
    .top > svg{
        width: auto;
        height: 32px;
    }
    .text{
        font-size: 15px;
        line-height: 21px;
        width: auto;
    }
    .bottom{
        font-size: 18px;
    }
    .outlet{
        font-size: 16px;
    }
    .content{
        padding-right: 0;
    }
}
@media screen and (max-width: 843px) {
    .circle{
        display: none;
    }
    .top > svg > g > path{
        fill: black;
    }
    .skillboxContainer{
        border-radius: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        border: 1px solid var(--grey);
    }
    .top{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bottom{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px 0;
    }
    .text{
        width: 235px;
        text-align: center;
        padding-top: 10px;
        color: black;
    }
    .discount{
        color: black;
        padding-top: 20px;
    }
    .image{
        display: none;
    }
    .link{
        padding: 27px 0;
        border-radius: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .content{
        padding-right: 54px;
    }
}